* {
    box-sizing: border-box;
}

.column2{
    position: absolute;
    padding-left: 100px;
}

.rows {
    margin:0;
    margin-right: 400px;
}


.column1, .column2 {
    display: inline-block; 
    vertical-align: top; 
    padding: 10px;
    
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    width: 150px;
    border: 1px solid #ddd;
}
input, button{
    width: 100px;
    height: 50px;
}
textarea{
    width: 500px;
    height: 100px;
}

/* @media size (max-width: 500px) {

    table {
        border-collapse: collapse;
        width: 150px;
        border: 1px solid #ddd;
    }

    .column2{
        position: absolute;
        padding-left: 100px;
    }
    .rows {
        margin:0;
        margin-right: 400px;
    }
    
    
    .column1, .column2 {
        display: inline-block; 
        vertical-align: top; 
        padding: 10px;
        
    }
    table {
        border-collapse: collapse;
        width: 150px;
        border: 1px solid #ddd;
    }
    input, button{
        width: 100px;
        height: 50px;
    }
} */